<a href="https://colab.research.google.com/github/ahmer-cs/EcomerceWebsite/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SECTION 1:
#SHOPKEES ECOMMERCE WEBSITE SCRAPING

In [ ]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.7.22)

In [ ]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.shopkees.com/global-en/tablets?brand_id=0&search_key=&min=0&max=100000&per_page_list=140'
r = requests.get(url)
# print(r)
soup = BeautifulSoup(r.text,'lxml')
# print(soup)

data = []

names = soup.find_all("div", class_="product-title")
price_divs = soup.find_all("div", class_="product-price")

for i, price_div in zip(names, price_divs):
    product_name = i.text.strip()
    original_price_span = price_div.find("span")
    product_price = original_price_span.text.strip()
    data.append([product_name, product_price])

df1 = pd.DataFrame(data, columns=["Product_Name", "Product_Price_x"])
print(df1)

                                          Product_Name Product_Price_x
0    Huawei Matepad T8, 8 Inch, 2GB RAM 32GB, Wi-Fi...        $ 126.43
1    Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69
2    Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...        $ 103.81
3         Samsung Galaxy Tab A8 Wi-Fi 4GB 64GB, Silver        $ 187.47
4    Apple Magic Wireless Keyboard For Apple iPad P...        $ 323.98
..                                                 ...             ...
135  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Da...        $ 187.74
136  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 2,067.85
137  Huawei MatePad T10 Tablet, 9.7 Inch, 2GB RAM, ...        $ 147.68
138  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69
139  Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...        $ 106.54

[140 rows x 2 columns]

In [ ]:
df1.isnull().sum()

Product Name     0
Product Price    0
dtype: int64

In [ ]:
# Save the DataFrame to an Excel file
df1.to_excel("samsung_tablets.xlsx", index=False)

In [ ]:
duplicates = df1[df1.duplicated(subset=["Product_Name", "Product_Price_x"], keep=False)]
print(duplicates)

                                          Product_Name Product_Price_x
1    Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69
5    Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 279.29
7    Apple iPad Air 5th Gen 2022 Wi-Fi, 64GB, 10.9 ...        $ 540.60
12   Apple iPad Air 5th Gen 2022 Wi-Fi, 64GB, 10.9 ...        $ 540.60
14   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 240.33
23   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 240.33
25   Apple iPad Air 5th Gen 2022 Wi-Fi, 256GB, 10.9...        $ 705.45
30   Apple iPad Air 5th Gen 2022 Wi-Fi, 256GB, 10.9...        $ 705.45
35   Apple iPad Air 5th Gen 2022  Wi-Fi + Cellular,...        $ 896.19
41   Apple iPad Air 5th Gen 2022  Wi-Fi + Cellular,...        $ 896.19
46   Apple iPad Air 5th Gen 2022  Wi-Fi + Cellular,...        $ 896.19
50   Apple iPad Air 5th Gen 2022  Wi-Fi + Cellular,...        $ 896.19
70   Apple iPad 9th Gen 2021 10.2 Inch, 256GB, Wi-F...        $ 630.79
73   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 291.28
84   Apple iPad 9th Gen 2021 10.2 Inch, 256GB, Wi-F...        $ 630.79
89   Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 1,034.33
91   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 291.28
92   Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...        $ 866.21
93   Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 1,034.33
96   Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...        $ 866.21
100  Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...        $ 866.21
101  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 1,257.49
102  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69
104  Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...        $ 866.21
105  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 1,257.49
106  Apple iPad Air 5th Gen 2022 Wi-Fi, 256GB, 10.9...        $ 705.45
111  Apple iPad Air 5th Gen 2022 Wi-Fi, 64GB, 10.9 ...        $ 540.60
118  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 279.29
121  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 2,514.71
123  Samsung Galaxy Tab A8 LTE + Wi-Fi ,4GB 32GB St...        $ 189.37
126  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 2,514.71
128  Samsung Galaxy Tab A8 LTE + Wi-Fi ,4GB 32GB St...        $ 189.37
131  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 2,067.85
133  Samsung Galaxy Tab A8 LTE + Wi-Fi ,4GB 32GB St...        $ 189.37
136  Apple iPad Pro 2022 6th Gen M2 Chip 12.9 Inch ...      $ 2,067.85
138  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69

In [ ]:
df1 = df1.drop_duplicates(subset=["Product_Name", "Product_Price_x"], keep="first")
print(df1)

                                          Product_Name Product_Price_x
0    Huawei Matepad T8, 8 Inch, 2GB RAM 32GB, Wi-Fi...        $ 126.43
1    Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...        $ 344.69
2    Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...        $ 103.81
3         Samsung Galaxy Tab A8 Wi-Fi 4GB 64GB, Silver        $ 187.47
4    Apple Magic Wireless Keyboard For Apple iPad P...        $ 323.98
..                                                 ...             ...
132  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Pi...        $ 187.74
134  Samsung Galaxy Tab A7 Lite 3GB RAM, 32GB, Wi-F...        $ 104.90
135  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Da...        $ 187.74
137  Huawei MatePad T10 Tablet, 9.7 Inch, 2GB RAM, ...        $ 147.68
139  Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...        $ 106.54

[119 rows x 2 columns]

In [ ]:
# Save the DataFrame to an Excel file
df1.to_excel("samsung_table22ts.xlsx", index=False)

In [ ]:
duplicates = df1[df1.duplicated(subset=["Product_Name", "Product_Price_x"], keep=False)]

if not duplicates.empty:
    print("Duplicate rows:")
    print(duplicates)
else:
    print("No duplicate rows found.")

No duplicate rows found.

# SECTION 2
# EBAY

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
data = []
for page_number in range(1, 5):
    # Construct the URL for the current page
    url = f'https://www.ebay.com/sch/i.html?_from=R40&_nkw=tablets&_sacat=0&_oaa=1&rt=nc&Brand=Acer%7CApple%7CSamsung%7CLenovo&_dcat=171485&_pgn={page_number}'
    r = requests.get(url)
    soup = BeautifulSoup(r.text,'lxml')
    names = soup.find_all("div", class_="s-item__title")
    price_divs = soup.find_all("span", class_="s-item__price")
# for i in price_divs:
#   print(i.text)
    for i, j in zip(names, price_divs):
      product_name = i.text.strip()
      product_price = j.text.strip()
      data.append([product_name, product_price])

# Create a DataFrame with columns "Product Name" and "Product Price"
df2 = pd.DataFrame(data, columns=["Product_Name", "Product_Price_y"])
print(df2)

                                          Product_Name Product_Price_y
0                                         Shop on eBay          $20.00
1    Apple iPad 9.7 5th Gen.(A1823)Space Gray 32GB ...          $72.25
2    New ListingSamsung Galaxy Tab Pro SM-T9000 12....          $40.00
3    Apple iPad 5 (2017) 9.7" Tablet Retina Display...         $109.99
4    Apple Pro 10.5" A1709 64GB  ROSE GOLD Wi-Fi + ...         $174.25
..                                                 ...             ...
307  Lenovo Tab M10 Plus 10.3 inch 64GB Gray Wi-Fi ...          $40.00
308  Good Apple iPad 2 9.7" A1395 16GB WiFi Only ta...         $200.00
309  Samsung Galaxy Tab A 9.7" 16GB T550 Black Wi-F...         $350.00
310  Apple iPad Air 1st Gen 32gb Silver 9.7in Silve...          $92.22
311      Apple iPad Air 2 128GB, Wi-Fi, 9.7in - Silver          $19.95

[312 rows x 2 columns]

In [ ]:
df2.isnull().sum()

Product_Name       0
Product_Price_y    0
dtype: int64

In [ ]:
duplicates = df2[df2.duplicated(subset=["Product_Name", "Product_Price_y"], keep=False)]
print(duplicates)

                                          Product_Name Product_Price_y
0                                         Shop on eBay          $20.00
10   New ListingiPad 9th generation 64gb wifi only ...         $162.50
57   New ListingiPad 9th generation 64gb wifi only ...         $162.50
84                                        Shop on eBay          $20.00
160                                       Shop on eBay          $20.00
236                                       Shop on eBay          $20.00

In [ ]:
df2 = df2.drop_duplicates(subset=["Product_Name", "Product_Price_y"])
print(df2)

                                          Product_Name Product_Price_y
0                                         Shop on eBay          $20.00
1    Apple iPad 9.7 5th Gen.(A1823)Space Gray 32GB ...          $72.25
2    New ListingSamsung Galaxy Tab Pro SM-T9000 12....          $40.00
3    Apple iPad 5 (2017) 9.7" Tablet Retina Display...         $109.99
4    Apple Pro 10.5" A1709 64GB  ROSE GOLD Wi-Fi + ...         $174.25
..                                                 ...             ...
307  Lenovo Tab M10 Plus 10.3 inch 64GB Gray Wi-Fi ...          $40.00
308  Good Apple iPad 2 9.7" A1395 16GB WiFi Only ta...         $200.00
309  Samsung Galaxy Tab A 9.7" 16GB T550 Black Wi-F...         $350.00
310  Apple iPad Air 1st Gen 32gb Silver 9.7in Silve...          $92.22
311      Apple iPad Air 2 128GB, Wi-Fi, 9.7in - Silver          $19.95

[308 rows x 2 columns]

In [ ]:
df2.drop(df2.index[0], inplace=True)

In [ ]:
df2.reset_index(drop=True, inplace=True)

In [ ]:
print(df2)

                                          Product_Name Product_Price_y
0    Apple iPad 9.7 5th Gen.(A1823)Space Gray 32GB ...          $72.25
1    New ListingSamsung Galaxy Tab Pro SM-T9000 12....          $40.00
2    Apple iPad 5 (2017) 9.7" Tablet Retina Display...         $109.99
3    Apple Pro 10.5" A1709 64GB  ROSE GOLD Wi-Fi + ...         $174.25
4    Samsung Galaxy Tab Active2 8" Wi-Fi 16GB Table...          $53.99
..                                                 ...             ...
302  Lenovo Tab M10 Plus 10.3 inch 64GB Gray Wi-Fi ...          $40.00
303  Good Apple iPad 2 9.7" A1395 16GB WiFi Only ta...         $200.00
304  Samsung Galaxy Tab A 9.7" 16GB T550 Black Wi-F...         $350.00
305  Apple iPad Air 1st Gen 32gb Silver 9.7in Silve...          $92.22
306      Apple iPad Air 2 128GB, Wi-Fi, 9.7in - Silver          $19.95

[307 rows x 2 columns]

In [ ]:
df2.drop(141, inplace=True)

In [ ]:
df2.to_excel("samsung_table2222222ts.xlsx", index=False)

# MERGING

In [ ]:
# Input the product name for which you want to find the price
product_name_input = input("Enter the product name: ")

# Find the price of the input product in both dataframes based on the first 4 characters
price_df1 = df1[df1['Product_Name'].str[:21] == product_name_input[:21]]['Product_Price_x'].values
price_df2 = df2[df2['Product_Name'].str[:21] == product_name_input[:21]]['Product_Price_y'].values

# Display the prices from both dataframes
if price_df1.any():
    print(f"Price in df1: {price_df1[0]}")
else:
    print("Product not found in df1")

if price_df2.any():
    print(f"Price in df2: {price_df2[0]}")
else:
    print("Product not found in df2")

Enter the product name: Samsung Galaxy Tab A7
Price in df1: $ 103.81
Price in df2: $28.60

In [ ]:
def get_first_three_words(product_name):
    words = product_name.split()
    return ' '.join(words[:4])

# Apply the function to create a new column with the first three words in both dataframes
df1['First Three Words'] = df1['Product_Name'].apply(get_first_three_words)
df2['First Three Words'] = df2['Product_Name'].apply(get_first_three_words)

# Find common product names based on the first three words
common_products = df1[df1['First Three Words'].isin(df2['First Three Words'])]['Product_Name'].tolist()

common_products_df = pd.DataFrame({'Common Product Names': common_products})

# Display the common product names as a DataFrame
print("Common Product Names with Similar First Three Words (DataFrame):")
print(common_products_df)

Common Product Names with Similar First Three Words (DataFrame):
                                 Common Product Names
0   Apple iPad Mini 6th Gen 64GB, Wi-Fi Only, Star...
1   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...
2    Samsung Galaxy Tab A8 Wi-Fi 4GB 64GB,  Pink Gold
3   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...
4   Samsung Galaxy Tab S7 FE 12.4 Inch, Wi-Fi LTE,...
5   Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...
6   Apple iPad Air 4th Gen 2020 Wi-Fi + Cellular, ...
7   Apple iPad Mini 6th Gen 256GB, Wi-Fi Only, Spa...
8         Samsung Galaxy Tab A8 Wi-Fi 3GB 32GB,Silver
9   Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...
10  Apple iPad Mini 6th Gen 64GB, Wi-Fi Only, Purp...
11  Apple iPad Mini 6th Gen 256GB, Wi-Fi + Cellula...
12  Samsung Galaxy Tab A7 Lite 3GB RAM, 32GB, Wi-F...
13  Samsung Galaxy Tab A7 Lite 3GB RAM, 32GB, Wi-F...
14  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...
15  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Pi...
16  Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...
17  Samsung Galaxy Tab A7 Lite 3GB RAM 32GB, 4G LT...
18  Samsung Galaxy Tab S6 Lite 10.4 Inch, 4GB RAM,...
19  Samsung Galaxy Tab S7 FE 5G Wi-Fi, 12.4 Inch, ...
20  Samsung Galaxy Tab A8 LTE + Wi-Fi ,4GB 32GB St...
21  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Si...
22  Apple iPad Mini 6th Gen 256GB, Wi-Fi Only, Pur...
23  Samsung Galaxy Tab A8 LTE + Wi-Fi 4GB 64GB, Da...
24    Samsung Galaxy Tab A8 Wi-Fi 4GB 64GB, Dark Grey
25       Samsung Galaxy Tab A8 Wi-Fi 4GB 64GB, Silver
26  Apple iPad Mini 6th Gen 256GB, Wi-Fi Only, Sta...
27  Apple iPad Mini 6th Gen 256GB, Wi-Fi Only, Pin...

# BASED ON THE RESULTS WHICH I HAVE GOT , I'LL SAY EBAY IS MORE SUITABLE OPTION THAN THE FIRST ONE, CAUSE THERE IS A BIG DIFFERENCE IN PRICES OF THE SAME MODEL